*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 1.5;
  color: var(--path-grey-900);
  background: var(--path-grey-100);
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

a {
  color: var(--path-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
